<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="static/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Cormorant:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Allura" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Alex+Brush" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">

    <title>News Recommender</title>
</head>
<body>
    <header class="site-header">
      <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
        <div class="container">
          <a class="navbar-brand mr-4" href="/">News Recommender</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarToggle">
            
            <!-- Navbar Right Side -->
            <div class="navbar-nav">
              
              {% if current_user.is_authenticated %}
              
                <a class="nav-item nav-link" href="{{ url_for('politics') }}">Politics</a>
                <a class="nav-item nav-link" href="{{ url_for('society') }}">Society</a>
                <a class="nav-item nav-link" href="{{ url_for('economy') }}">Economy</a>
                <a class="nav-item nav-link" href="{{ url_for('sci_tech') }}">Science Technlology</a>
                <a class="nav-item nav-link" href="{{ url_for('sports') }}">Sports</a>
                <a class="nav-item nav-link" href="{{ url_for('world') }}">World</a>
                <a class="nav-item nav-link" href="{{ url_for('art') }}">Art</a>
                <a class="nav-item nav-link" href="{{ url_for('entertainment') }}">Entertainment</a>
                <a class="nav-item nav-link" href="{{ url_for('logout') }}">Logout</a>
              </div>
            </div>
          </div>
        </nav>
        <div id="mySidenav" class="sidenav">
          <a href="/predict" id="projects">Predict  </a>
          <a href="/quiz" id="blog">Rate  </a>
          <a href="/account" id="contact">Profile</a>
        </div>
      </header>
      <main role="main" class="container">
        <div class="row">
          <div class="col-md-8">
            {% with messages = get_flashed_messages(with_categories=true) %}
              {% if messages %}
                {% for category, message in messages %}
                  <div class="alert alert-{{ category }}">
                    {{ message }}
                  </div>
                {% endfor %}
              {% endif %}
            {% endwith %}
            {% block content %}{% endblock %}
          </div>
          
          <div class="col-md-4">
            <div class="content-section">
              <h3>Latest News</h3>
              
                <ul class="list-group">
                  {% for a, b, c ,d,e in list %}
                  <li class="list-group-item list-group-item-light">
                    <small>{{b}},{{c}}</small><br>
                    <a href="{{ url_for('latest_article')}}"><strong>{{a}}</strong></a><br>
  
                  </li>
                  
                  {% endfor %}
                </ul>
                
              
            </div>
          </div>
          
        </div>
      </main>
      
              {% else %}
                <a class="nav-item nav-link" href="{{ url_for('login') }}">Login</a>
                <a class="nav-item nav-link" href="{{ url_for('register') }}">Register</a>
              </div>
            </div>
          </div>
        </nav>
      </header>
      <main role="main" class="container">
        <div class="row">
          <div class="col-md-4">
            <div class="content-section">
              <h3>Latest News</h3>
              
                <ul class="list-group">
                  {% for a, b, c ,d,e in list %}
                  <li class="list-group-item list-group-item-light">
                    <small>{{b}},{{c}}</small><br>
                    <a href={{e}}><h3>{{a}}</h3></a>
                    <strong>{{d}}</strong>
                    
  
                  </li>
                  
                  {% endfor %}
                </ul>
                
              
            </div>
          </div>
          
        </div>
      </main>
      
     
        <div class="container">
        <div class="intro-message">
        <font color="black"><br><br>
        <hr class="section-heading-spacer">
        <h1>News</h1>
        <h2>Your personal recommendation finder</h2>
        </font></br></br>
        <hr class="intro-divider">
      
        </div>
        </div>
        <!-- Page Content -->
    

    <section class="content-section-b">

      <div class="container">

        <div class="row">
          <div class="col-lg-5 mr-auto order-lg-2">
            <hr class="section-heading-spacer">
            <div class="clearfix"></div>
            <h2 class="section-heading">The more ratings you give<br>The better we know you</h2>
            <p class="lead">Register and rate.
              You'll be surprised that we know you too well.</p>
          </div>
          <div class="col-lg-5 ml-auto order-lg-1">
            <img class="img-fluid" src="img/dog.png" alt="">
          </div>
        </div>

      </div>
      <!-- /.container -->

    </section>
        
              {% endif %}
            
    


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
     <!-- Bootstrap core JavaScript -->
    <script src="static/vendor/jquery/jquery.min.js"></script>
    <script src="static/vendor/popper/popper.min.js"></script>
    <script src="static/vendor/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>